{% extends 'base/layout.twig' %}
{% import 'base/match.twig' as part %}

{% block nav_extension %}<a href="{{url_for('show_category_home', route_context.args)}}">Zurück...</a>{% endblock %}

{% block content %}
<section>
  <h2>{{chunk.name}}</h2>
  {{ part.printKo(ko, null, route_context.args) }}
</section>
{% endblock %}