{% import 'base/match.twig' as part %}

{% include 'base/header.twig' with {
  'active_page': 'tournaments.categories.ko.chunks.show'
}%}

<section>
  <h2>{{chunk.name}}</h2>
  {{ part.printKo(ko, null, route_context.args) }}
</section>

{% include 'base/footer.twig' %}