{% import 'base/match.twig' as part %}

{% include 'base/header.twig' with {
  'active_page': 'tournaments.areas.dashboard.show',
  'css': ['tree.css'],
  'header': area.name,
} %}

{% for section, matches in match_list -%}
<section>
<h2>{{ section }}</h2>
  <ul>
  {% for node in matches -%}
  <li>{{part.printMatch(node)}}</li>
  {%- endfor %}
  </ul>
</section>
{% endfor %}

{% include 'base/footer.twig' %}