{% import 'base/form.twig' as form %}
{% import 'base/match.twig' as part %}

{% include 'base/header.twig' with {
  'active_page': 'show_category_home'
} %}

<nav class="nav-cards">
{% if pools is not empty %}
  <a href="{{ url_for('show_category_pools', route_context.args) }}" class="card">
    <h3>Pools</h3>
  </a>
{% endif %}
{% if ko is defined %}
  <a href="{{ url_for('show_category_ko', route_context.args) }}" class="card">
    <h3>KO-Baum</h3>
  </a>
{% endif %}
  <a href="{{ url_for('show_category_cfg', route_context.args) }}" class="card">
    <h3>Konfiguration</h3>
  </a>
</nav>

<section>
  <h2>Test-Optionen</h2>
  <form action="{{url_for('reset_category_results', route_context.args)}}" method="post">
    <button type="submit">Aktuellen Turnierfortschritt löschen</button>
  </form>
</section>

{% include 'base/footer.twig' %}
