{%- include 'base/header.twig' with {
  'active_page': 'tournaments.show'
} %}

<section>
  <h2>Turnierkategorien</h2>
  <nav class="nav-cards">
  <ul>
  {% for category in categories %}
    <li><a href="{{ url_for('tournaments.categories.show', route_context.args|merge({'categoryId': category.id})) }}" class="card">
      <b>{{ category.name }}</b>
      <span class="separator">: </span>
      <span class="details">Turnier ansehen</span>
    </a></li>
  {% endfor %}
  </ul>
  </nav>
</section>

<section>
  <h2>Setup</h2>
  <nav class="nav-cards">
  <ul>
    <li><a href="{{ url_for('tournaments.participants.index', route_context.args) }}" class="card">
      <b>Anmeldungen</b>
      <span class="separator"> - </span>
      <span class="details">Teilnehmerliste ansehen und verwalten</span>
    </a></li>
    <li><a href="{{ url_for('tournaments.edit', route_context.args) }}" class="card">
      <b>Turnier konfigurieren</b>
      <span class="separator"> - </span>
      <span class="details">Turnier-Details, Kampfflächen & Kategorien bearbeiten</span>
    </a></li>
  </ul>
  </nav>
</section>

{% include 'base/footer.twig' %}
