{% include 'base/header.twig' with {
  'active_page': 'tournaments.show'
} %}

<section>
  <h2>Turnierkategorien</h2>
  <nav class="nav-cards">
  {% for category in categories %}
    <a href="{{ url_for('tournaments.categories.show', route_context.args|merge({'categoryId': category.id})) }}" class="card">
      <h3>{{ category.name }}</h3>
      <p>Turnier ansehen</p>
    </a>
  {% endfor %}
  </nav>
</section>

<section>
  <h2>Setup</h2>
  <nav class="nav-cards">
    <a href="{{ url_for('tournaments.participants.index', route_context.args) }}" class="card">
      <h3>Anmeldungen</h3>
      <p>Teilnehmerliste ansehen und verwalten</p>
    </a>
    <a href="{{ url_for('tournaments.edit', route_context.args) }}" class="card">
      <h3>Turnier konfigurieren</h3>
      <p>Turnier-Details, Kampfflächen & Kategorien bearbeiten</p>
    </a>
  </nav>
</section>

{% include 'base/footer.twig' %}
