{% extends 'base/layout.twig' %}

{% block nav_extension %}
  {% if route_context.tournament is not null %}
    <!-- Untermenü für die "Turnier-Hauptseite" -->
    <ul class="submenu">
      <li>
        <a href="{{ url_for('tournament_control', route_context.args) }}">
          Turnierleitung
        </a>
      </li>
    </ul>
  {% endif %}
{% endblock %}


{% block content %}
<h1>Turnierkategorien</h1>

<div class="nav-cards">
  {% for category in categories %}
    <a href="{{ url_for('show_category_home', route_context.args|merge({'categoryId': category.id})) }}" class="card">
      <h3>{{ category.name }}</h3>
      <p>Turnier ansehen</p>
    </a>
  {% endfor %}
</div>
{% endblock %}




