{% extends 'base/layout.twig' %}

{% block content %}
<ul>
{% for category in categories %}
   <li><a href="{{url_for('show_category', {'tournamentId': tournament.id, 'categoryId': category.id})}}">{{category.name}}</a></li>
{% endfor %}
   <li><a href="{{url_for('tournament_control', {'tournamentId': tournament.id})}}">Turnierleitung</a></li>
</ul>
{% endblock %}

