table {
   border-collapse: collapse;
   width: max-content;
   white-space: nowrap;
}

table th,
table td {
   border: 1px solid #ccc;
   padding: 8px;
   max-width: 25ex;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

table th[colspan] {
   text-align: left;
}

table tbody,
table thead tr.form-row {
   border-top: 2px solid #999;
}

table th:first-child,
table td:first-child,
table thead th {
   background-color: #e8e8e8 !important;
}

table td {
   background-color: #f5f5f5;
}

table tbody tr.highlight td,
table thead tr.form-row td {
   background-color: #fff;
}

table tbody tr.highlight td:first-child {
   font-weight: bold;
}
