table.match_table {

   &, th, td, .td-link>* {
      border: 1px solid black;
      border-collapse:collapse;
      border-radius: 0;
      box-shadow: none;
   }

   thead {
      border-bottom: 2px solid black;

      tr:first-child th.side-red {
         background-color: red !important;
      }

      tr:first-child th.side-white {
         background-color: white !important;
      }
   }

   tr.selected, tr.controls {
      border-top: 2px solid black;
      border-bottom: 2px solid black;
   }

   tbody tr {
      background-color: white; /* revert the hover color of default tables from style.css */
   }

   tr.inactive {
      background-color: #f1f1f1;

      &.frozen {
         background-color: #ddd;
      }
   }

   th {
      background-color: white;
   }

   th, td, .td-link > * {
      padding: 1ex;
   }


   .side-red {
      text-align:left;
   }

   .side-white {
      text-align:right;
   }

   .side-none {
      text-align: center;
   }

   tbody ul {
      padding: 0;
      margin: 0;
   }

   .points, .penalty {

      width: 10ex;

      ul {
         display: flex;
         gap: 0;
      }

      &.side-red ul {
         justify-content: flex-start;
      }

      &.side-white ul {
         justify-content: flex-end;
      }

      li {
         list-style: none;
         padding:1px;
         text-align:center;
         width:1rem
      }

      .undo {
         background-color: khaki;
      }
   }

   td.participant {
      width:30ex;
   }

   td.winner {
      width:3ex;
      text-align:center;
   }

   .match_control {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      button {
         min-width: 4rem;
         height: 3.5rem;
         margin: 0;

         &[value="undo"] {
            min-width: 10rem;
         }
      }
   }
}

nav.match_nav {

   thead tr:first-child th.side-red {
      background-color: red !important;
   }

   thead tr:first-child th.side-white {
      background-color: white !important;
   }

   th {
      border: 1px solid black;
      border-collapse: collapse;
      border-radius: 0;
      box-shadow: none;
      text-align: center;
   }

   td {
      text-align:center
   }
}

/* replace Hansokus with the corresponding symbol */
.pt-H,
button[value="H"] {
   position: relative;
   font-size: 0;

   &::before {
      content: "";
      display: inline-block;

      width: 0;
      height: 0;

      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 11px solid black;
   }

}

li.pt-H {

   width: 14px !important;

   &::after {
      content: "";
      position: absolute;
      left: 3px;
      top: 2px;

      width: 0;
      height: 0;

      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 9px solid red;
   }
}

