ul.pool_list {
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
}

ul.pool_list p.pool_name {
   grid-area: name
}

ul.pool_list ul.participant_list {
   grid-area: participants
}

ul.pool_list p.fight_list {
   grid-area: fights_h;
   display: none
}

ul.pool_list ul.fight_list {
   grid-area: fights
}

ul.pool_list>li {
   margin: 5px;
   list-style-type: none;
   border: 1px solid black;
   padding: 5px;
   display: grid;
   grid-template-columns: auto auto;
   grid-template-areas:
      'name name'
      'participants fights'
}

ul.pool_list p

   {
   margin: 5px;
   text-align: center;
   border-bottom: 1px solid black;
}

ul.pool_list ul {
   padding: 0 5px;
   margin: none;
   list-style-type: none;
}

ul.pool_list ul.participant_list {
   border-right: 1px solid black
}

ul.fight_tree {
   padding: 0.5ex;
   list-style-type: none;
   display: flex;
   flex-wrap: nowrap;
}

ul.fight_tree li {
   flex-shrink: 0;
}


ul.fight_tree>li>span {
   display: none;
}

ul.fight_tree>li {
   margin: 0 10px;
}

ul.fight_tree li span.fight_name {
   display: block;
   text-align: center;
}

ul.fight_round {
   list-style-type: none;
   padding: 0;
   margin: 0;
   height: 100%;
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-around;
}

ul.fight_round li {
   margin: 5px 0;
   padding: 0.5ex;
   border: 1px solid black;
}

.fight_participant em
{
   font-weight: bold;
   font-style: normal;
}