{% extends 'base/layout.twig' %}
{% import 'category/partials.twig' as part %}

{% set route_parameters = { 'tournamentId': tournament.id, 'categoryId': category.id } %}

{% block content %}
<section>
  <h2>{{chunk.name}}</h2>
  {{ part.printKo(ko, null, route_parameters) }}
</section>
{% endblock %}