{%- include 'base/header.twig' with {
  'active_page': 'show_db_migrate'
}%}

<section>
  <h2>Datenbank Update Durchgeführt</h2>
  <p><pre>{{ message }}</pre></p>
  <p><a href="{{ redirect }}">Weiter...</a></p>
</section>

{% include 'base/footer.twig' %}
