{% extends "base/layout.twig" %}

{% block heading %}Datenbank Update Durchgeführt{% endblock %}

{% block content %}
<pre>{{ message }}</pre>

<p><a href="{{ redirect }}">Weiter...</a></p>
{% endblock %}