{% include 'base/header.twig' with {
  'heading': 'Datenbank Update Durchgeführt',
  'active_page': 'show_db_migrate'
}%}
<pre>{{ message }}</pre>
<p><a href="{{ redirect }}">Weiter...</a></p>
{% include 'base/footer.twig' %}
