{% import 'base/form.twig' as form %}

{% include 'base/header.twig' with {
  'heading': 'Datenbank-Version anpassen',
  'active_page': 'dbmigration.show'
}%}

{% if message is not empty %}
<pre>{{message}}</pre>
{% endif %}

<form action="{{url_for('dbmigration.update')}}" method="post">
  {{ form.select('version', 'DB-Version', versions, current, required=true) }}
  {{ form.submit('Aktualisieren')}}
</form>

{% include 'base/footer.twig' %}