{% include 'base/header.twig' %}

<section>
  <h2>Eintrag nicht gefunden</h2>
  <p>Für diese Seite gibt es leider keinen Eintrag: <span class="error">{{message}}</span></p>
</section>

{% include 'base/footer.twig' %}