{% extends 'base/layout.twig' %}

{% block content %}
<nav>
   <ul>
   <li><a href="{{url_for('show_participant_list', {'tournamentId': tournament.id})}}">Anmeldungen</a></li>
   <li><a href="{{url_for('show_tournament_config', {'tournamentId': tournament.id})}}">Turnier konfigurieren</a></li>
   </ul>
</nav>
{% endblock %}