{% extends 'base/layout.twig' %}

{% block nav_extension %}
  {% if tournament is defined %}
    <!-- Untermenü für die "Turnier-Hauptseite" -->
    <ul class="submenu">
      <li class="active">Turnierleitung</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block content %}
<div class="nav-cards">
  <a href="{{ url_for('show_participant_list', {'tournamentId': tournament.id}) }}" class="card">
    <h3>Anmeldungen</h3>
    <p>Teilnehmerliste ansehen und verwalten</p>
  </a>
  <a href="{{ url_for('show_tournament_config', {'tournamentId': tournament.id}) }}" class="card">
    <h3>Turnier konfigurieren</h3>
    <p>Turnier-Details, Kampfflächen & Kategorien bearbeiten</p>
  </a>
</div>
{% endblock %}