{% block subject %}
{{ app_name }} - Passwort zurücksetzen
{% endblock %}

{% block body_html %}
<p>Hallo {{ username }},</p>

<p>Klicke auf den folgenden Link, um dein Passwort zurückzusetzen:</p>

<p><a href="{{ reset_url }}">{{ reset_url }}</a></p>

{% endblock %}
