{% extends 'base/layout.twig' %}

{% block content %}
<ul>
   {% for tournament in tournaments %}
   <li>
      <a href="{{ url_for('show_tournament', { tournamentId: tournament.id }) }}">{{ tournament.name }} - {{ tournament.date }}</a>
   </li>
   {% endfor %}
   <li><a href="{{ url_for('new_tournament_form') }}">Neues Turnier anlegen</a></li>
</ul>
{% endblock %}
