{% extends 'base/layout.twig' %}

{% block content %}
<h1> Öffentlicher Teil </h1>

{%- if test_interfaces %}
<p class="debug_stuff">
  <a href="{{url_for('show_db_migrate')}}">DB-Migration</a>
</p>
{% endif -%}
{% endblock %}
