{% import 'base/form.twig' as form %}

{%- include 'base/header.twig' with { 'active_page': 'tournaments.categories.printouts.index' } %}

<nav class="nav-cards">
  <ul>
    <li><a href="{{ url_for('tournaments.categories.printouts.namesheets.show', route_context.args) }}">
        <b>Namenszettel</b>
        <span class="separator">: </span>
        <span class="details">Namenszettel für Kampftafel</span>
      </a></li>
  </ul>
</nav>

{% include 'base/footer.twig' %}
