{% include 'base/header.twig' with {
  'heading': 'Login'
}%}

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<form method="post" action="{{ url_for('auth.login.attempt') }}">
  <p>
    <label>E-Mail: <input type="text" name="email" value="{{email}}" required></label>
  </p>
  <p>
    <label>Passwort: <input type="password" name="password" required></label>
  </p>
  <p>
    <button type="submit">Anmelden</button>
    <a href="{{ url_for('auth.password.request.form') }}">Passwort vergessen?</a>
  </p>
</form>

{% include 'base/footer.twig' %}
