{% extends "base/layout.twig" %}

{% block content %}
<h1>Neues Passwort setzen</h1>
<p>Passwort wurde erfolgreich neu gesetzt!</p>
<p><a href="{{ url_for('login') }}">Zum Login</a></p>
{% endblock %}