{%- include 'base/header.twig' with {
  'heading': 'Password zurücksetzen'
}%}

<p>Passwort wurde erfolgreich neu gesetzt!</p>
<p><a href="{{ url_for('auth.login.form') }}">Zum Login</a></p>

{% include 'base/footer.twig' %}
