{% include 'base/header.twig' with {
  'heading': 'Password zurücksetzen'
}%}

<p>Falls die angegebene E-Mail als Account existiert, wurde ein Reset-Link an diese verschickt! Bitte prüfe deinen Posteingang.</p>

{% include 'base/footer.twig' %}