{% extends "base/layout.twig" %}

{% block content %}
<h1>Passwort zurücksetzen</h1>
<p>Falls die angegebene E-Mail als Account existiert, wurde ein Reset-Link an diese verschickt! Bitte prüfe deinen Posteingang.</p>
{% endblock %}