<?php

class config
{
   public static $DB_CONNECTION =
   [
      'server' => 'localhost',
      'db'     => 'tournament',
      'user'   => 'tournament',
      'pw'     => ''
   ];

   public static $TWIG_CACHE_DIR = '';
   public static $TWIG_AUTO_RELOAD = true;

   public static $debug = false;
   public static $test_interfaces = false;

   public static $BASE_PATH = null;

   public static $HTTPS_ONLY = true;

   public static $MAIL_FROM_ADDRESS = 'do-not-reply@example.com';
   public static $MAIL_FROM_NAME = 'Tournament Software';
   public static $SMTP_SETTINGS = []; // set it but keep it empty -> defaults to mailpit settings
}